@import url('https://unpkg.com/leaflet@1.7.1/dist/leaflet.css');
@import "tailwindcss";
body{
  background-color: #e7e7e7; 
 
}
/***** Hide default Google Translate styles *****/
.goog-te-banner-frame, 
.goog-te-balloon-frame, 
.goog-te-gadget span {
    display: none !important;
}

.goog-te-gadget {
    font-size: 0 !important; /* Hides default text */
    display: flex !important;
    align-items: center;
    justify-content: center;
}

.goog-te-gadget select {
    background-color: #ffffff !important;
    border: 2px solid #ddd !important;
    border-radius: 8px !important;
    padding: 8px 12px !important;
    font-size: 14px !important;
    color: #333 !important;
}
